@font-face {
    font-family: "Montserrat Bold";
    src: url("fonts/Montserrat-Bold.ttf") format("opentype")
  }
  @font-face {
    font-family: "Montserrat SemiBold";
    src: url("fonts/Montserrat-SemiBold.ttf") format("opentype")
  }
  @font-face {
    font-family: "Montserrat ExtraBold";
    src: url("fonts/Montserrat-ExtraBold.ttf") format("opentype")
  }
  @font-face {
    font-family: "Montserrat Regular";
    src: url("fonts/Montserrat-Regular.ttf") format("opentype")
  }
.onglet{
    color: #1D4E9C;
    font-size: .8rem;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat Bold';
    
}
   /* CSS pour l'effet de pulsation du bouton */
   @keyframes pulsate {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
.btnsinscrire{
    color: white;
    background-color: #1D4E9C;
    border-radius: 30px;
    font-size: 0.8rem;
    border: none;
    padding: 8px 20px;
    font-family: 'Montserrat Bold';
    animation: pulsate 2s infinite;
}



.section2{

    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('images/imagehaut.png'); 
    height: 86vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #f7f8fa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .text1{
        font-size: 1.2rem;
        color: white;
        font-family: 'Montserrat SemiBold';
        
    }
   
    
    .text2{
        font-size: 4rem;
        color: white;
        font-family: 'Montserrat ExtraBold';
        
    }
    .btnformation{
        border: 1px solid white;
        padding: 5px 15px;
        background: transparent;
        color: white;
        border-radius: 30px; 
        font-family: 'Montserrat Bold';
    }
    
   
}
.section3{
    
    .sect3text{
        color: #1D4E9C;
        font-family: "Montserrat Bold";
    }
    .sect3text2{
        color: #0B1C39;
        font-family: "Montserrat SemiBold";
        font-size: 15px;
    }
    .btnvoirplus{
        background: transparent;
        border: 1px solid #1D4E9C;
        padding: 5px 40px;
        border-radius: 15px;
        color: #1D4E9C;
        font-size: 14;
        font-family: "Montserrat Bold";
        
    }
    .ligne{
        display: flex;
    justify-content: center;
    }
    /* Votre fichier CSS (neoleanacademy.css) */
.card {
 border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    margin: 0 auto; /* Pour centrer la card horizontalement */
    margin-top: -50px;
    
  }
  

  
  .card-content {
    padding: 25px;
  }
  
  .card-content h2 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #0B1C39;
    font-family: 'Montserrat SemiBold';
  }
  .form-control{
    border: none;
    border-radius: 20px;
    background-color: #F0F3F7;
    font-size: 12px;
    font-family: 'Montserrat Regular';
    
  }
  .form-control::placeholder, select.form-control option[value=""] {
    color: #757575; 
    font-size: 12px;
    font-family: 'Montserrat Regular';
}

  
  .card-content p {
    font-size: 16px;
    color: #666;
  }
  
  .card-content .btnenvoyer {

    background-color: #1D4E9C;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
}
.section4{
    .barre{
        border-top: 8px solid #FBC25A;
    }
    .sectformation{
        background-color: #1D4E9C;
    }
    .h2{
        color: white;
        font-family: 'Montserrat ExtraBold';
    }
    .card {
        border: 1px solid #ccc;
        padding-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 300px; /* Ajustez la largeur selon vos besoins */
        transition: transform 0.3s ease-in-out;
    }
    .card:hover {
        transform: scale(1.1);
    }
    
    /* Style du contenu du card */
    .card-content {
        text-align: center;
    }
    
    /* Style de l'image du card */
    .card-content img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 15px;
    }
    .bordurebas{
        border-bottom: 8px solid #FBC25A;
    }
    .titre1{
        font-size: 16px;
        font-family: 'Montserrat Bold';
    }
    .titre2{
        font-size: 12px;
        font-family: 'Montserrat Regular';
        color: #000000;
    }
    .btnvoirplus{
        font-size: 12px;
        background-color: #1D4E9C;
        border: none;
        border-radius: 10px;
        padding: 5px 15px;
        color: white;
        font-family: 'Montserrat Bold';
    }
    
}
.section5{
    margin-bottom: 100px;
    .h2{
        color:#1D4E9C;
        font-family: 'Montserrat ExtraBold';
    }
}
.sectioncontact{
    background-color: #FBC25A;
    .contact{
        color: #1D4E9C;
       font-size: 2rem;
       font-family: 'Montserrat ExtraBold';
    }
    .form-control{
        border: none;
        border-radius: 15px;
        background-color: #F0F3F7;
        max-width: 80%;
        font-family: 'Montserrat Regular';
    }
    .form-control::placeholder {
        font-family: 'Montserrat Regular';
        color: #757575; 
        font-size: 12px;
    }
    .btnenvoyer{
        background-color: #1D4E9C;
        color: white;
        border-radius: 15px;
        padding: 5px 70px;
        font-family: 'Montserrat Bold';
    }
    .localisation{
        margin-top: -60px;
    }
    .contactstyle{
        color: #1D4E9C;
    }
}
body {font-family: Arial, Helvetica, sans-serif;}
            
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000000000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  border: none;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000000000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    border: none;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}




/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}

/* The Close Button */
.close {
  color: #FBC25A;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.titre{
    color: #1D4E9C;
    font-family: 'Montserrat Bold';
}
.btntelechargerplaquette{
    color: white;
    background-color: #1D4E9C;
    border: none;
    font-size: 0.8rem;
    border-radius: 20px;
    padding: 8px 30px;
    font-family: 'Montserrat Bold';
  
}
.icone{
    animation: pulsate 2s infinite;
}
.partie1{
    font-family: 'Montserrat Bold';
}
.partie2{
    font-family: 'Montserrat Regular';
    color: #000000;
    font-size: 13px;
    line-height: 25px;
    
    
}
.partie3{
    list-style-type: none;
    line-height: 25px;

}
.liste{
    font-family: 'Montserrat SemiBold';
    color: #1D4E9C;
    font-size: 13px;
   
}

  .form-control{
    border: none;
    border-radius: 20px;
    background-color: #F0F3F7;
    font-size: 12px;
    font-family: 'Montserrat Regular';
    
    

}
.form-control::placeholder, select.form-control option[value=""] {
    color: #757575; 
    font-size: 12px;
    font-family: 'Montserrat Regular';
}
@media(max-width: 992px){
    .section2{
        height: 56vh;
        .text1{
            font-size: .7rem;
        }
        .text2{
            font-size: 2rem;
        }
    }
    .section4{
        .formobile{
            margin-top: 2rem;
        }
    }
    .sectioncontact{
        .localisation{
            margin-top: 10px;
        }
    }
    .partie1{
       font-size: 15px;
    }
  }
